body {
	background-color: #000;
}

#landing-header {
  z-index: 1;
 /* set position to relative to use z-index (wont work with static) */
  position: relative;
  text-align: center;
  /*center height of text*/
  padding-top: 40vh;
}

#landing-header h1 {
  color: #fff;
}

.slideshow { 
  position: fixed;
  /*take up entire page*/
  width: 100%;
  height: 100%;
/*  nudge to top left of page*/
  top: 0;
  left: 0;
 /* sent images behind text header*/
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
/*  center images on page*/
  background-position: 50% 50%;
  background-repeat: no-repeat;
/*  want images to start faded out so set opacity to 0*/
  opacity: 0;
  z-index: 0;
/*  allow us to fade images in and out (name / last 50sec / linear- same speed beg to end/ loop infinitely */
  animation: imageAnimation 50s linear infinite; 
}

/* set images to each list item */
.slideshow li:nth-child(1) { 
  background-image: url(../img/c7.jpg) 
}
.slideshow li:nth-child(2) { 
  background-image: url(../img/c3.jpg);
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(../img/c9.jpg);
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(../img/c10.jpg);
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(../img/c6.jpg);
  animation-delay: 40s; 
}

/* indicate what we want happen at various keyframes from 0% - 30% within 50sec (5 second transitions) */
@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}


/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
    opacity: 1;
}
