.thumbnail img {
	width: 100%;
/*	min-height: 175px;
	max-height: 175px;*/
}

.thumbnail-list img {
	min-height: 175px;
	max-height: 175px;
}

.thumbnail {
	padding: 0;
}

.thumbnail .caption-full {
	padding: 10px;
}

#delete-form {
	display: inline;
}